[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
python-dotenv = "*"
flask-wtf = "*"
email-validator = "*"
flask-limiter = "*"

[dev-packages]
sqlalchemy-stubs = "*"
flask-sqlalchemy-stubs = "*"
pylint = "*"

[requires]
python_version = "3.9"
