{% import 'widgets.jinja2' as w %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document | {{ title }} </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  {% block css %}{% endblock css %}
</head>
<body>
  {% if current_user.is_authenticated %}
    Logged in as {{ current_user }}
  {% endif %}
  {% block body %}{% endblock body %}
</body>
{% block js %}{% endblock js %}
</html>
