{% extends 'index.jinja2' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
{% endblock css %}

{% block body %}
  <article>
    <h5><a href="{{ url_for('index.post', post=post.uid) }}">
    /p/{{ post.uid }}</a></h5>
      <h2>{{ post['title'] }}</h2>
      <p>{{ post['body'] }}</p>
      {% if current_user.uid == post['poster_uid'] %}
        <p>Post made by me :)</p>
      {% endif %}
      <ul>
        <button>Reply</button>
      </ul>
  </article>
{% endblock body %}
