{% extends 'index.jinja2' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signinout.css') }}">
{% endblock css %}

{% block body %}
<form method="post" action="{{ url_for('auth.signup') }}">
  {{ sf.csrf_token }}

  {{ sf.name.label }}
  {{ sf.name(autocomplete="off") }}<br>

  {{ sf.email.label }}
  {{ sf.email }}<br>

  {{ sf.password.label }}
  {{ sf.password }}<br>

  <button type="submit">Sign up</button>
</form>
{% endblock body %}
{% block js %}{% endblock js %}
