{% extends 'index.jinja2' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signinout.css') }}">
{% endblock css %}

{% block body %}
<form method="post" action="{{ url_for('auth.signin') }}">
  {{ lf.csrf_token }}

  {{ lf.email.label }}
  {{ lf.email }}<br>

  {{ lf.password.label }}
  {{ lf.password }}<br>

  <span>
    {{ lf.remember_me }}
    {{ lf.remember_me.label }}<br>
  </span>

  <button type="submit">Sign in</button>
</form>
{% endblock body %}
