{% macro input(name) %}
<input type="text" name="{{ name }}" id="{{ name }}">
{% endmacro %}

{% macro reply(cf, post_uid, replies) %}
<button class="add-comment">toggle reply form</button>
<button class="toggle-comments">open replies</button>
<form class="add-comment hidden" enctype="multipart/form-data" target="#">
  {{ cf.csrf_token }}
  {{ cf.post_uid(value=post_uid) }}
  {{ cf.image.label }} {{ cf.image }}
  {{ cf.body.label }} {{ cf.body(autocomplete="off") }}
  <button>reply</button>
</form>
<div class="comments hidden">
</div>
{% endmacro %}
