{% macro input(name) %}
<input type="text" name="{{ name }}" id="{{ name }}">
{% endmacro %}

{% macro reply(cf, post_uid, replies) %}
<button class="add-comment">toggle reply form</button>
<button class="toggle-comments">toggle replies</button>
<form class="add-comment hidden" method="post">
  {{ cf.csrf_token }}
  {{ cf.post_uid(value=post_uid) }}
  {{ cf.body.label }}
  {{ cf.body }}
  <button>reply</button>
</form>
<div class="comments hidden">
</div>
{% endmacro %}
