.posts {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
}

article.post {
  display: inline-block;
}

article.post img {
    max-height: 300px;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}

article.post img span {
    float: none;
}

article.post > ul {
    clear: both;
}

article.post > div > p {
    white-space: wrap;
    word-wrap: break-word;
}

article {
  border-left: 1px solid var(--gray);
  padding-left: 15px;
  max-width: 40%;
}

article.form  {
  display: inline-block;
}

article h2 {
  margin: 2px 0 10px;
}

article p {
  margin-bottom: 15px;
}

article ul {
  margin-top: 5px;
  padding-top: 15px;
  border-top: 1px solid var(--gray);
}

article form.add-comment, article article.comment {
  margin-top: 15px;
  padding: 5px;
}

article article.comment h5 {
  white-space: nowrap;
}
