@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700&display=swap');

:root {
  font-size: 14pt;
  --black: #1d1d1d;
  --white: #fafafa;
  --yellow: #d9d95a;
  --green: #66d96d;
  --idk: #2fd18f;
  --gray: #3f3f3f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    'Source Code Pro', Arial, Helvetica, sans-serif;
  color: var(--white);
  text-decoration: none;
  line-height: 1em;
  list-style-type: none;
}

body {
  padding: 15px;
  background-color: var(--black);
}

h1 {
  font-weight: 300;
  font-size: 2.2rem;
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: var(--idk);
}

a:hover {
  text-decoration: underline;
}

/* Logo */
header {
  margin-bottom: 15px;
}

header h1 {
  margin-bottom: 2px;
}

header ul {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.logo .spider {
  color: var(--yellow);
}

.logo .book {
  color: var(--green);
}

.logo a {
  color: var(--green);
}

/* Form stuff */

label, input, textarea, select {
  margin-bottom: 10px;
}

input, textarea, select {
  padding: 5px;
  border: 1px solid var(--gray);
  background-color: var(--black);
}

button {
  padding: 10px;
  border: 1px solid var(--gray);
  background-color: var(--black);
}

button:hover {
  cursor: pointer;
}
