form.post {
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid var(--gray);
  border-top: none;
  border-right: none;
  padding: 10px;
}

form.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form.post textarea {
  width: 35ch;
  resize: vertical;
}
