form {
  border: 1px solid var(--gray);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form.post {
  max-height: 100vh;
}

form.post textarea {
  width: 35ch;
}

form textarea {
  resize: vertical;
}

form.post {
  position: fixed;
  top: 0;
  right: 0;
  border-top: none;
  border-right: none;
}
